<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:fragment="head_tag">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/cookhub.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>

    <nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">Cook Hub</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/recipe/kitchen/me">My Kitchen</a></li>
            <li><a href="#" th:href="@{/recipe/new}">Create Recipe</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><span sec:authentication="principal.user.displayName">Username</span></a></li>
	        <li><a th:href="@{/logout}">Logout</a></li>
	      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Cook Hub</h1>
        <p class="lead">Explore, invent, share creative cooking ideas</p>
      </div>

    <div class="container">
        <div id="loading"><p>Loading recipies...</p></div>
        <div class="grid">
            <div class="grid-sizer"></div>            
        </div>
    </div>
    
    <template id="tile-item">
        <div class="grid-item">
           <h4><a>Title</a></h4>
           <h5><small><a>by Auther</a></small></h5>
           <p>Description</p>
         </div>
    </template>


	<th:block th:fragment="common_scripts">
	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    </th:block>
    <script type="text/javascript">
    $(function() {
    	var template = $("#tile-item");
        var container = $("div.container");
        var $grid = $(".grid");
    	
        $grid.isotope({
    		  // options
    		  itemSelector: '.grid-item',
    		  masonry: {
    			 columnWidth: 50,
    			 gutter: 10
    		  }
    		});
    	
    	$.get("/api/recipe/featured").done(function(data) {
    		$("#loading").hide();
    		console.dir(data);
    		data.forEach(function(r) {
    			var content = $(template.get(0).content.cloneNode(true));
    			content.find("h4 a").text(r.name);
    			content.find("h4 a").attr("href", "/recipe/" + r.id);
    			content.find("small a").text("by " + r.author.displayName);
    			content.find("small a").attr("href", "/recipe/kitchen/" + r.author.id);
    			content.find("p").text(r.description);
    			$grid.isotope()
    			 .append(content)
    			 .isotope('appended', content)
    			 .isotope('layout');
    		});
    	});
    });
    </script>
</body>
</html>
